<!--The content below is only a placeholder and can be replaced.-->
<div class="panel">
        <div class="form-inline">
            <div class="form-group">
                <div class="col-md-8">
                    <input class="form-control" type="date" [(ngModel)]="date" placeholder = "Исходная дата" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-8">
                    <button class="btn btn-default" (click)="addItem(date)">Push</button>
                </div>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Дата из сервиса</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of items">
					<td><button class="btn btn-default" (click)="showSelected(date)">Pull</button></td>
                    <td>{{selected.date}}</td>
                </tr>
            </tbody>
        </table>
    </div>

<router-outlet></router-outlet>
